.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    height: 100%;
}

.stepper {
    grid-row: 1;
}

.fields {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-container {
    grid-row: 3;
    justify-self: end;
}